.element__like {
  background: url(../../../images/element-like.svg);
  width: 22px;
  height: 19px;
  border: none;
  padding: 0;
  margin: 5px 5px 1px 0;
  transition: 0.5s;
}

.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

